{% extends 'base.html' %}

{% block head %}
<title> Edit Profile </title>
    {% load static %}
{% endblock %}

{% block body %}
    <br>
    <div class="container">
    <br>
         <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                             <h1> Set New Password </h1><br>
                            <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"> Submit </button>
    </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                           <p><img src={% static "accounts/img/profile3.png" %}></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </div>
{% endblock %}