{% extends 'base.html' %}

{% block head %}
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}

{% endblock %}

{% block body %}




    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Dividend Income Taxable – Should you switch to Mutual Fund Growth Option?</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src={% static "accounts/img/dividend-taxable-budget-2020.jpg" %} alt="">
                  </div>
                  <div class="blog_details">
                     <h2>Dividend Income Taxable – Should you switch to Mutual Fund Growth Option?
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><i class="far fa-user"></i> Finance </a></li>
                     </ul>
                     <p></p>
<p>As per Budget 2020, dividend income from shares and mutual funds is taxable in the hand of recipient as per applicable tax slab. This means the dividend income which was earlier tax exempted has become taxable. Additionally, any dividend income above Rs.5000 in a financial year will attract tax deduction at source.</p>
<p>Many Dividend Mutual fund investors are planning to shift to growth option as it gives more benefits. Here is complete information about new tax law and its impact.</p>
<hr/>
<h2>Dividend Income Taxable – Budget 2020</h2>
 <p>As of now, mutual funds deduct DDT (dividend distribution tax) first and handover dividend to the unit holders.</p>
<p>From April 2020, DDT is removed. The dividend amount will be directly added to the taxable income of the investor and taxed as per his/her tax bracket.</p>
<p>Currently, when mutual fund is declaring dividends, they pay 25% tax on the debt fund (non-equity fund) and 10% tax on equity funds. Additionally, they need to pay surcharge on this amount. This means effective DDT on debt fund is 29.12% and 11.65% on equity based fund.</p>
<p>If you have opted for dividend plan, you must be aware that there are two options dividend payout and dividend reinvestment. In dividend payout dividend will be paid to the investors and in dividend reinvestment, the dividend amount will be used to purchase additional unit of the mutual funds. In both the option given above currently DDT is applicable.</p>
<p>Now DDT is removed but dividend income will be taxable on the hand of investor from April, 2020. Investor has option to select between old and new tax regime. Additionally, investor has also Growth option in the mutual funds. I am sure as an investor you must be confused what to do with mutual funds with dividend option. Here is complete information explaining impact of this new rule under old tax regime and new tax regime with reduced tax rates.</p>
<hr/>
 <h3>New Tax Regime – Reduce Tax Rate</h3>
<p>New Tax Regime is with reduced tax rate and without 80C and other exemptions. Under this tax regime no tax is payable up to annual income of Rs.5 Lakh. &nbsp;From 5 Lakh to 7.5 Lakh you need to pay 10.4% tax. For annual income from 7.5 Lakh to 10 Lakh you need to pay 15.6% tax. For annual income from 10 Lakh to 12.5 Lakh tax rate is 20.8%. For annual income between 12.5 Lakh to 15 Lakh tax rate is 26% and for annual income above 15 Lakh you need to pay 31.2% tax.</p>
<p><strong>Income Tax Slab FY 2020-21 (AY 2021-22)</strong></p>
<table border="1">
    <tbody>
    <tr>
       <td width="312">Annual Income</td>
        <td width="312">Tax Rate (Including Surcharge)</td>
    </tr>
    <tr>
       <td width="312">5 Lakh</td>
        <td width="312">Nil</td>
    </tr>
    <tr>
       <td width="312">5 Lakh to 7.5 Lakh</td>
        <td width="312">10.4%</td>
    </tr>
    <tr>
       <td width="312">7.5 Lakh to 10 Lakh</td>
        <td width="312">15.6%</td>
    </tr>
    <tr>
       <td width="312">10 Lakh to 12.5 Lakh</td>
        <td width="312">20.8%</td>
    </tr>
    <tr>
       <td width="312">12.5 Lakh to 15 Lakh</td>
        <td width="312">26%</td>
    </tr>
    <tr>
       <td width="312">Above 15 Lakh</td>
        <td width="312">31.2%</td>
    </tr>
    </tbody>
</table>
                      <br>
<p>Now dividend distribution tax is removed and all dividend income is added in your income and taxable at actuals. Let’s take case of Equity Mutual funds and Debt Mutual Funds to check the impact.</p>
<hr/>
 <h4>Equity Funds – Dividend Plan</h4>
 <p>Currently DDT is 11.65% on equity funds. From April 2020, the tax in dividend plans will be lower if your taxable income is up to 7.5 Lakh as applicable tax slab rate is 10.4%.</p>
<p>If your income is above 7.5 Lakh you need to pay tax @ 15.6% for the total income which includes dividend income. This means you need to pay more taxes.</p>
<p>So, for tax payer with income above 7.5 Lakh it is advisable to go for growth plan in the equity funds. You can hold growth funds for more than 12 months. Above 12 months this fund will be qualified for Long term capital gain tax. The long term capital gain tax is 10% and including cess the tax rate is 10.4%.</p>
<p>Additionally, LTCG up to 1 Lakh a year on equity fund is exempted from tax. If you are looking for regular income in growth plan you can go for SWP.</p>
<hr/>
<h4>Debt Funds – Dividend Plan</h4>
 <p>Currently DDT is 29.12% on debt funds (Non-equity funds). &nbsp;In debt based fund the tax outflow will be lower than DDT for income up to 15 Lakh. Up to 15 Lakh you need to pay tax @ 26%.</p>
<p>This means if your income is up to 15 Lakh you will get benefits of opting dividend based debt fund. Your tax outgo will be less.</p>
<p>For income above 15 Lakh it is advisable to go for debt based growth fund to reduce your tax outgo.</p>
<hr/>
<h4>Old Tax Regime – Deduction Benefit</h4>
<p>Old Tax Regime comes with additional benefits of 80C deduction and other exemptions. If you want to opt for old tax regime you need not to pay any tax for income up to 5 Lakh. If your income is between 5 Lakh to 10 Lakh you need pay 20.8% tax including cess. If your income is above 10 Lakh you need to pay 31.2% tax including cess.</p>
<hr/>
<h4>Equity Funds – Dividend Plan</h4>
<p>Currently, DDT on equity funds is 11.65 per cent.</p>
<p>From April 2020 onwards, the dividend will be taxed at the marginal tax rates mentioned above. So, from April, onwards for equity fund dividend plan up to 5 Lakh income you need not to pay any tax on the dividend received.</p>
<p>If your income is above 5 Lakh you need to pay higher tax compared to present DDT which is 11.65%. This means for income above 5 Lakh under old tax regime it is advisable to go ahead with the equity based growth plan.</p>
<p>In the growth option, there is no dividend; only capital gains made on sale of units are taxed. In the case of equity mutual funds, gains on sale of units held for 12 months or less are considered short-term capital gains (STCG) which is taxed at 15.6% including cess. Long term capital gain tax is even lower and it is taxed at 10.4% including cess.</p>
<hr/>
<h4>Debt Fund – Dividend Plan</h4>
<p>Currently DDT is 29.12% on debt funds (Non-equity funds). From April 2020, onwards person opting for old tax regime get benefits in dividend income, if his/her income is up to 10 Lakh.</p>
<p>In growth plans of non-equity funds, STCG (on units sold after holding them for 36 months or less) is taxed as per the investor’s tax slab, while LTCG (on units sold after 36 months) is taxed at 20% (plus surcharge and cess, as applicable) after indexation benefit.</p>
<p>So, up to 10 Lakh income, there will be no difference between the dividend plans and Growth plan STCG. If your income is above 10 Lakh you should opt for debt fund with growth option and hold unit up to 36 months for LTCG. If you are looking for regular cash flow you can go for cash withdrawal plans.</p>


 <p></p>
  <hr/>


<p>&nbsp;</p>
                  </div>
               </div>

                  <div class="navigation-area">
                     <div class="row">
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="#">

                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="lnr text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                              <p>Prev Post</p>
                              <a href={% url 'ml-ai' %}>
                                 <h5>How explainable Machine Learning can improve the acceptance of Artificial Intelligence in Finance</h5>
                              </a>
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================Blog Area end =================-->


  <!-- jquery plugins here-->
  <!-- jquery -->

{% endblock %}

