{% extends 'base.html' %}

{% block head %}
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}

{% endblock %}

{% block body %}




    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Job Loss or Pay Cut – How to Protect & Manage your Finance?</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src={% static "accounts/img/Job-Loss-Pay-Cut.jpg" %} alt="">
                  </div>
                  <div class="blog_details">
                     <h2>Job Loss or Pay Cut – How to Protect & Manage your Finance?
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><i class="far fa-user"></i> Finance </a></li>
                     </ul>
                     <p></p>

 <p><strong> Job Loss or Pay Cut - </strong>Corona Virus Pandemic is creating a massive impact on the economy. Many people have lost their job and many are going towards a bad phase of the pay cut.</p>
 <p>India’s largest public-sector company Reliance has already announced up to 50% pay cut for the employees.&nbsp; No recruitment, salary cut, layoff, and delayed appraisal will be common for this year.</p>
<p>Living a life without a salary or less money would be challenging for many people. You have to change your lifestyle and smartly manage your finance to face and withstand the difficult situation. Here are a few important tips to make yourself ready against the adverse situation of layoff and salary cut.</p>
 <h2><strong>Job Loss or Pay Cut – How to Protect &amp; Manage your Finance?</strong></h2>
 <p><strong>Reduce your Expenses by living a frugal lifestyle </strong></p>
<p>You need to live the frugal or economical lifestyle. The lockdown has taught us that we can live life with minimum expenses. We need not waste money on eating out, entertainment, leisure, and buying unnecessary things.</p>
<p>Find out how you can live life with less money. It is not as troublesome as it sounds. You need to note down all your monthly expenses on the paper. Question every expense and try to reduce or eliminate expenses.</p>
<p>Let me give few examples –</p>
<p> 1. Suppose you are living in a rented house which is costing you more money. You should think of moving into a smaller house or in another area where rented home cost is less.</p>
<p> 2. If your family has two vehicles you can think of reducing it to one and opting for public transport or other means of transport. You can save a lot of money on fuel expenses by this step.</p>
<p> 3. You can also look at your mobile plan and think of converting it to a prepaid plan based on actual usage.</p>
<p> 4. Go for cancellation of subscription such as Prime or Netflix.</p>
<p>Make sure not to go for excessive reduction at a single go. Gradually reduce living expenses and live a frugal lifestyle.</p>
  <hr/>
<p><strong>Go for Job Loss Insurance</strong></p>
<p>If you are sure that your job is in danger due to the current financial crisis and your company may give a pink slip to you. Go for Job Loss insurance. Job loss insurance helps you in financial exigencies.</p>
<p>The stand along job loss insurance policy is not available in India. You need to purchase this as add on coverage to other policies. This policy covers EMI expenses. Job loss is not a dependable option as there is a waiting period of one to three months for claim settlement. The coverage offered by the plan is limited.</p>
<p>Few insurance policies that provide coverage to job layoffs are given below.</p>
<p> 1. Safe Loan Shield by Royal Sundaram</p>
<p> 2. Secure Mind by ICICI Lombard</p>
<p> 3. Home Suraksha Plan by HDFC Ergo</p>
<hr/>
<p><strong>Make use of Emergency Fund</strong></p>
<p>The next step is to make use of an emergency fund. You must have prepared yourself for the bad days by creating an emergency fund. You can make use of an emergency fund.</p>
<p>If you have not yet built an emergency fund it is high time to prepare yourself for the emergency fund. You should build an emergency fund to withstand at least six months of household expenses. Start saving money every month and keeping it aside either in a separate saving bank account or in the fixed deposit.</p>
<p><strong>Look for additional Income &nbsp;</strong></p>
<p>In this adverse time, you also need to look for additional income. You can make use of your skills and hobbies to generate additional income. There are many part time online and offline options for earning additional income. You can also encourage your dependent, like your spouse to contribute.</p>
<p>Another way to increase your income is by leasing your property to someone.</p>
<p><strong>Review and Rebalance your portfolio </strong></p>
<p>You should also assess your investment portfolio and rebalance it. Make sure your investment should be spread across various investment avenues. If possible, reduce exposure from the equity market as the market is likely to remain volatile in the days to come.</p>
<p>Invest in the fixed deposit with monthly income or other monthly return instruments. It will surely help you to manage your finance in a better way.</p>
<p><strong>Arrange for additional liquidity</strong></p>
<p>The last option to fight with job loss or pay cut is to arrange for additional liquidity. Arranging liquidity at this time would be difficult. However, you can think of selling your investment or breaking your fixed deposit if you are facing severe cash issues.</p>

 <p></p>
  <hr/>


<p>&nbsp;</p>
                  </div>
               </div>

                  <div class="navigation-area">
                     <div class="row">
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="#">

                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="lnr text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                              <p>Prev Post</p>
                              <a href={% url 'never-search-again' %}>
                                 <h4>Never Search Again</h4>
                              </a>
                           </div>
                        </div>
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           <div class="detials">
                              <p>Next Post</p>
                              <a href={% url 'ml-ai' %}>
                                 <h4>How explainable Machine Learning can improve the acceptance of Artificial Intelligence in Finance</h4>
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="lnr text-white ti-arrow-right"></span>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="#">

                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================Blog Area end =================-->


  <!-- jquery plugins here-->
  <!-- jquery -->

{% endblock %}

