{% extends 'base.html' %}

{% block head %}
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   {% load static %}
{% endblock %}


{% block body %}



    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Never Search Again</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src={% static "accounts/img/blog/blog_3.png" %} alt="">
                  </div>
                  <div class="blog_details">
                     <h2>Never Search Again
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="far fa-user"></i> Artificial Intelligence, Finance</a></li>
                     </ul>
                     <p>AI is making its way into every industry you can think of. From your car to your home, it&rsquo;s everywhere. I don&rsquo;t have the background to unpack its impact across every industry that AI touches, but I can give an overview of the inroads the technology is making in financial services.</p>
<p>Two major ways in which the technology is making itself felt are quantitative modeling for price prediction and collaborative machine intelligence.</p>
<h4>AI in Finance: Better Price Predictions</h4>
<p>The most common use of AI in finance is in simple machine learning techniques on large amounts of quantitative data, primarily pricing information and event data. These systems attempt to discover historical patterns in quantitative data so investors can be prepared for future price trends and trade accordingly.</p>
<p>Kensho is a great example of a company applying AI to massive streams of quantitative data to produce insights. By feeding time series, data of events, and stock prices into various machine learning algorithms, they can anticipate events like the date of the next iPhone release. Predicting price movements based on quantitative data has been the most successful application of AI in this industry to date.</p>
<p>As a result, to the average financial professional, &ldquo;AI&rdquo; is often just another word for an approach to optimizing quantitative problems. Despite the fact that it&rsquo;s clearly helping, it&rsquo;s not really living up to classic visions of machine intelligence; it&rsquo;s not the manifestation of AI that captures imaginations.</p>
<p>This view means that among emerging applications in this space, those that focus on visibly and continually helping users with qualitative work have an excellent shot at standing out. Users are hungry for AI technology that helps them with their day-to-day tasks.</p>
<h4>AI in Finance: Collaborative Machine Intelligence</h4>
<p>Searching unstructured data is a big problem in the financial services space. First of&nbsp;all, there are just too many disparate data sources to dig through&mdash;outdated enterprise data portals, third-party content systems, Exchange email, shared drives, and the whole public web. In addition, it is difficult to build queries to find the information you didn&rsquo;t know you were looking for or needed, even though that type of insight is usually the most helpful. The difficulty of finding what you don&rsquo;t even know exists leaves lots of value on the table.</p>
<p>An enterprise&rsquo;s data is one of its most valuable assets, but unfortunately, most of it is unreachable. Making the data accessible is where AI can step in: It can review all the possible connections based on what the user is looking at on their screen right now and present the best data for the user to review based on their work context.</p>
<p>Hard as it may be to swallow, many knowledge workers are spending 80% of their time searching, leaving only 20% for actual analysis. By taking over the intensely manual and repetitive aspects of searching, querying, and ranking, collaborative machine intelligence can flip that ratio on its head.</p>
<p>Early evaluations have shown massive improvements in both quantity and quality of information discovered using collaborative machine intelligence. I know of a hedge fund whose fund mechanics were entirely based on how quickly they could analyze debt securitization deals. Productivity was measured by the time it took to clear a data room: shared drives with thousands of files in different formats and languages filled with loan agreements and operational reports that each needed to be analyzed to determine the likelihood of default. Before deployment, they averaged four months per data room. They&rsquo;re on track to cut this down to two months by radically accelerating their discovery phase with collaborative machine intelligence.</p>
<p>The value of collaborative machine intelligence is much more obvious to users without a background in AI, even though sucessful operation requires close collaboration with a human. Humans are still the best at making consequential decisions based on qualitative data and will be for a while, but they greatly appreciate having more tedious parts of their job automated.</p>
<h4>AI in Finance: The Future</h4>
<p>There&rsquo;s so much room for AI to take over early stage processing tasks like information gathering and first pass analysis. Collaborative machine intelligence has the potential to take over much of the information discovery process. It may seem like a pipe dream now, but there is a very real and not too distant future where you will never need to search again, where streams of information will integrate directly into your workflow, where and when you need it.</p>
<p>This new paradigm is a revolution whose impact is difficult to overestimate. As I mentioned before, an enterprise&rsquo;s data is one of its most valuable assets, and right now it is very far from being optimally deployed. After all, where can a firm&rsquo;s competitive advantage be found outside of the unique knowledge that it has? If it can tap into that more effectively, the sky&rsquo;s the limit.</p>
<p>This reason is why Google, Amazon, Microsoft, and others are all racing for AI dominance. They recognize the stakes. They understand that there is no better way to unlock the potential of your employees than by feeding them the right information at the right time and letting humans spend 100% of their time on tasks that they do best.</p>
<hr />
<h5>About the Author</h5>
<p>Jason Briggs is the COO at Diffeo, an AI startup based in Cambridge, MA building collaborative teammate technology for defense and financial services customers with $3.8 million in sales in 2017. Jason led Diffeo&rsquo;s participation in the Fintech Innovation Lab, where he has been working with top-tier financial firms to solve their disparate data challenges. At Diffeo, Jason has brought together a wide range of partnerships. For example, he led Diffeo in the Salesforce Incubator&rsquo;s AI Cohort of 2017, where Diffeo was featured in Quip&rsquo;s keynote presentation at Dreamforce.</p>
<p>While studying computer science and military history at Williams College, Jason co-founded Meta Search in 2014 after watching his mom try, and fail, to find files on her computer. Meta launched to thousands of beta users before being acquired by Diffeo in 2016.</p>

                  </div>
               </div>

                  <div class="navigation-area">
                     <div class="row">
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="#">

                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="lnr text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                              <p>Prev Post</p>
                              <a href={% url 'ai-value-prop' %}>
                                 <h4>AI Value Proposition</h4>
                              </a>
                           </div>
                        </div>
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           <div class="detials">
                              <p>Next Post</p>
                              <a href={% url 'what-is-ai' %}>
                                 <h4>What is AI?</h4>
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="lnr text-white ti-arrow-right"></span>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="#">

                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================Blog Area end =================-->





{% endblock %}