{% extends 'servbase.html' %}


{% block head %}
     <title>Invarjan - Tax Automation and Investment Planning</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />


{% endblock %}


{% block body %}

      <br>
    <br>
 <div align="center" class="wrapper ">
<div  class="main-panel">

<section>
    <p>
        <h3> Services </h3>
    </p>
</section>
 </div>
</div>





{% endblock %}

