{% extends 'servbase.html' %}

{% block head %}
{% endblock %}


{% block body %}

       <br>
    <br>
 <div align="center" class="wrapper ">
<div  class="main-panel">

<section>
    <p>
        <h3>Tax Calculations</h3>
    <br>
            <form>
                 <table>
                    <tr>
                        <td>Total Gross Salary of User : </td>
                        <td>506019</td>
                    </tr>
                     <tr>
                         <td> Gross Total Income of User : </td>
                         <td>500419</td>
                     </tr>
                        <tr>
                         <td> Deductable Amount : </td>
                         <td>21711</td>
                     </tr>
                     <tr>
                        <td> Income After Deduction : </td>
                        <td>522130</td>
                    </tr>
                    <tr>
                        <td> Final Payable Tax Amount : </td>
                        <td>53319.39</td>
                    </tr>
                    </table>
                    <br>
                    <br>
                <a href="/service/taxauto/" class="btn btn-outline-info my-2 my-sm-0" role="button" aria-pressed="true">Back to Tax Automation</a>
            </form>
    </p>
</section>
 </div>
</div>


{% endblock %}

