{% extends 'servbase.html' %}

{% block head %}
    <title> Portfolio Management </title>
{% endblock %}
{% load static %}

{% block body %}
<br>
        <br><br>
        <br>
    <div align="center" class="wrapper ">
    <div  class="main-panel">
        <section>
        <br>
        <br>
<section>
    <p align="center">
        <h3>Portfolio Management </h3>
    <br>
    </p>
</section>
            <section>
               <p>
                The Portfolio Dashboard will direct you to INVACT that facilitates the comaprison of a myriad of assets both traditional and crypto across time.
            </p>
            </section>
            <section>
                <p>
                This tool is modular in nature, such that there are some parameters that affect the entire app, and others that only affect certain outputs.<br>
                This allows the user, at a high level, to select assets of interest, a date-range of relevance, and an initial investment amount, and thereafter compare the chosen assets using a variety of metrics.<br>
                The app facilitates this procedural evaluation by nature of its layout, such that there are sections that focus on portfolio value, simple returns, and risk-adjusted returns.
                    <br>
                    <br>
            </p>
            </section>

        <p>
            <a href="https://beinvact.shinyapps.io/financial-asset-comparison-tool/" class="btn btn-outline-info my-2 my-sm-0" role="button" aria-pressed="true">Portfolio Dashboard</a>
        </p>
        </section>
    </div>
    </div>

 <!-- Start of ChatBot (www.chatbot.com) code -->
<script type="text/javascript">
    window.__be = window.__be || {};
    window.__be.id = "5ea7d0f831da4b0007311706";
    (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
    })();
</script>
<!-- End of ChatBot code -->
{% endblock %}